@using Microsoft.AspNetCore.Identity
@model Login
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "AuthUser";
}


@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
*@
<div class="row justify-content-center">

    <div class="col-md-5 mt-5">
        <div class="card login-logout-card">
            <div class="d-flex">

                <a class="text-white w-50 btn btn-lg shadow-none"
                   id="loginA"
                   style="background:cornflowerblue; border-radius:0px;">
                    Log In
                </a>

                <a class="register w-50 btn btn-lg text-white shadow-none"
                   style="border-radius:0px; background:lightgray;"
                   id="registerA">
                    Register
                </a>

            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4 d-flex">


                        <form method="post"
                              asp-controller="Home"
                              asp-action="AuthUser"
                              class="w-100"
                              id="inpForm">

                            <div class="form-floating">
                                <input asp-for="Email"
                                       type="email"
                                       class="form-control shadow-none"
                                       autocomplete="email"
                                       onfocus="ClickInp(event, 'email')"
                                       aria-required="true" />
                                <label asp-for="Email" class="form-label"></label>
                                <span asp-validation-for="Email" class="email text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 mb-2">
                                <input asp-for="Password"
                                       type="password"
                                       class="form-control shadow-none"
                                       autocomplete="current-password"
                                       onfocus="ClickInp(event, 'password')"
                                       aria-required="true" />
                                <label asp-for="Password" class="form-label"></label>
                                <span asp-validation-for="Password" class="password text-danger"></span>
                            </div>
                            <div>
                                <div class="checkbox">
                                    @* <label asp-for="RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>*@
                                </div>
                            </div>

                            <div class="form-floating mb-2" id="userName">
                                <input asp-for="UserName"
                                       class="form-control shadow-none"
                                       autocomplete="username"
                                       aria-required="true"
                                       onfocus="ClickInp(event, 'username')" />
                                <label asp-for="UserName">Name</label>
                                <span asp-validation-for="UserName" class="username text-danger"></span>
                            </div>

                            <div>
                                <button id="btnSubmit"
                                        type="submit"
                                        class="w-100 btn btn-lg btn-primary mt-2 mb-4 shadow-none"
                                        onclick="ClickSubmit(event, innerText)">
                                    Log in
                                </button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        const currentPage = location.pathname;

        let log = document.getElementById("loginA");
        let reg = document.getElementById("registerA");
        let btn = document.getElementById("btnSubmit");
        let usernameInput = document.getElementById("userName");

        usernameInput.style.visibility = "hidden";

        $('#loginA').on("click", function (e) {
            e.preventDefault();
            e.target.style.backgroundColor = 'cornflowerblue';
            reg.style.background = 'lightgray';

            btn.innerText = "Log in";
            usernameInput.style.visibility = "hidden";
        })

        $('#registerA').on("click", function (e) {
            e.preventDefault();
            e.target.style.backgroundColor = 'cornflowerblue';
            log.style.backgroundColor = 'lightgray';

            usernameInput.style.visibility = "visible";
            btn.innerText = "Register";
        })


    };

    //Validation

    //Validate input symbols
    function ClickInp(e, type) {
        let pattern = "[@@._sa-zA-Z0-9]";
        let nameReg = new RegExp(pattern);

        e.target.addEventListener("input", (e) => {
            if (!nameReg.test(e.data)) {
                e.target.style.borderColor = 'red';
                e.target.value = e.target.value.replace(e.data, '');
            }
            else {
                e.target.style.borderColor = 'green';
            }
        });
        // console.log(type);
    }

    //validate input click submit
    function ClickSubmit(e, type) {
        e.preventDefault();


        var EmailInp = document.getElementById("Email").value;
        var PasswordInp = document.getElementById("Password").value;

        let emailExp = /^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/i;

        if (EmailInp !== '' && emailExp.test(EmailInp)
            && PasswordInp !== '')
        {
            let dataForm = JSON.stringify({
                Email: EmailInp,
                Password: PasswordInp,
            });

            let url_send = '@Url.Action("AuthUser", "Home")';

            if (type === 'Register') 
            {
               
                url_send = '@Url.Action("AuthUserCreate", "Home")';
                dataForm = JSON.stringify({
                    Email: EmailInp,
                    Password: PasswordInp,
                    UserName: document.getElementById("UserName").value
                });
            }

            $.ajax({
                type: "post",
                url: url_send,
                contentType: "application/json",
                data: dataForm,
                async: true,
                cache: true,
                success: function (result) 
                {
                    console.log("AAAAAAAAAaa " + result);
                    if(result === 'No')
                    {
                        document.getElementById("Email").style.borderColor = 'red';
                        document.getElementById("Password").style.borderColor = 'red';
                        if (type === 'Register') 
                        {
                            document.getElementById("UserName").style.borderColor = 'red';
                         }
                    }
                    else
                    {
                        window.location.href = '@Url.Action("Index", "Home")';
                    }
                    
                    // var elem = document.getElementById(dataid);//знаходимо та виділяємо картку з екрану
                    // elem.remove();
                },
                error: function (jqXHR, textStatus) {

                    console.error(textStatus);
                }
            });

        }
        else
        {
            document.getElementById("Email").style.borderColor = 'red';
            document.getElementById("Password").style.borderColor = 'red';
            if (type === 'Register') {
                document.getElementById("UserName").style.borderColor = 'red';
            }
        }
    }

</script>