@using Shop_Asp.Domain.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Shop_Asp.Domain.Entities.Product>

@{
    ViewData["Title"] = "Products";
    var notFound = HttpContextAccessor.HttpContext.Session.Get<string>("NotFound");
    var notFoundSize = HttpContextAccessor.HttpContext.Session.Get<string>("NotFoundSize");
}

<div class="container bestShoes">

    <h3 class="fw-bold text-black text-start">Produtcs</h3>

    @if (Model != null && Model.Count() > 0)
    {

        <div class="w-100 m-auto row">

            @foreach (Product item in Model)
            {
                <div class="col-1 card shadow mt-4 m-auto p-0"
                     style="width: 18rem;"
                     id="@item.Id">

                    <img class="card-img-top"
                         src="~/Images/@item.Photos_Large[0].Image"
                         alt="@item.Name" />

                    <div class="card-body">

                        <div class="d-flex w-100" style="height:1em;">

                            @if (item.IsNew)
                            {
                                <p class="text-info w-25 mr-auto">New</p>
                            }
                            <div class="w-75">   </div>
                            @if (item.IsBestSeller)
                            {
                                <p class="text-info float-end">Best</p>
                            }
                        </div>

                        <h6 class="card-title mt-2">@item.Name</h6>
                        <label class="d-block fw-bolder">@item.Brand</label>
                        <small>Gender: <span class="fw-bold">@item.Gender</span></small>
                        <label class="d-block">Sizes: @item.Sizes</label>

                        <div class="d-flex mt-1 mb-1">
                            Color:
                            @{
                                var colors = item.Colors.Split(' ');
                                foreach (var color in colors)
                                {
                                    <button style="background-color:@color; margin-left:0.5em;"
                                    class="btn btn-outline-secondary rounded-circle">
                                    </button>
                                }
                            }
                        </div>

                        <p class="fs-6 text-truncate">@item.DescriptionEn</p>

                        <label>Price: <span class="fw-bold">$@item.Price</span></label>

                    </div>

                    <div class="mt-2 d-flex">
                        <a type="submit"
                           class="btn btn-outline-info w-50"
                           asp-area="Identity"
                           asp-controller="Home"
                           asp-action="Index"
                           asp-route-id="@item.Id">
                            Add Favorite
                        </a>

                        <a class="btnDelete btn btn-outline-info w-50"
                           asp-area=""
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-id="@item.Id"
                           data-id="@item.Id">
                            Watch This
                        </a>

                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h4 class="text-center text-info">Nothing found</h4>
        <h5 class="text-center">@notFound</h5>
        <h5 class="text-center">@notFoundSize</h5>
    }
</div>